---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - wireflowcontroller.wireflowio.com
  resources:
  - networkpolicies
  - networks
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - wireflowcontroller.wireflowio.com
  resources:
  - networkpolicies/finalizers
  - networks/finalizers
  - nodes/finalizers
  verbs:
  - update
- apiGroups:
  - wireflowcontroller.wireflowio.com
  resources:
  - networkpolicies/status
  - networks/status
  - nodes/status
  verbs:
  - get
  - patch
  - update
