apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: wireflow-controller
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager
  namespace: system
---
# ServiceAccount
apiVersion: v1
kind: ServiceAccount
metadata:
  name: wireflow-controller-admin
  namespace: wireflow