apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config
  namespace: auth
data:
  config.yaml: |
    issuer: http://wireflow-dex.wireflow-system.svc.cluster.local:5556/dex
    storage:
      type: kubernetes
      config:
        inCluster: true
    web:
      http: 0.0.0.0:5556
    
    # 这里的 connector 定义你是用 GitHub 还是静态账号
    connectors:
      - type: mockCallback
        id: mock
        name: Mock
    
    staticClients:
      - id: wireflow-client
        redirectURIs:
          - 'http://your-wireflow-app.com/callback'
        name: 'Wireflow API'
        secret: ZXhhbXBsZS1hcHAtc2VjcmV0 # 你的 Client Secret

    enablePasswordDB: true
    staticPasswords:
      - email: "admin@example.com"
        hash: "$2a$12$mpGgiE3WVcM7fpIEahH.AukuFNGrpsvKT8xVFpb0wJ.nMkOytsaKq" # 密码是: justsoso
        username: "admin"
        userID: "08a8684b-db88-4b73-90a9-3dd1b617a397"