---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: wireflownetworkpeerings.wireflowcontroller.wireflow.run
spec:
  group: wireflowcontroller.wireflow.run
  names:
    kind: WireflowNetworkPeering
    listKind: WireflowNetworkPeeringList
    plural: wireflownetworkpeerings
    singular: wireflownetworkpeering
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Using for peering network, two networks will be connected together
          when they have same ip and different namespace
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              address:
                type: string
              networkRef:
                type: string
              peerRef:
                type: string
            required:
            - address
            - networkRef
            - peerRef
            type: object
        type: object
    served: true
    storage: true
