---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: wireflowsubnetallocations.wireflowcontroller.wireflow.run
spec:
  group: wireflowcontroller.wireflow.run
  names:
    kind: WireflowSubnetAllocation
    listKind: WireflowSubnetAllocationList
    plural: wireflowsubnetallocations
    shortNames:
    - wfsubnet
    singular: wireflowsubnetallocation
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          WireflowSubnetAllocation for store / search a network's cidr
          它的 Name 格式定为: subnet-<hex-ip> (例如 subnet-0a0a0100)
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              cidr:
                type: string
              networkName:
                type: string
            required:
            - cidr
            - networkName
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
