name: Continuous Integration

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. 登录容器仓库
      # 逻辑：只要不是在 Upstream 的 PR 流程（没权限），就尝试登录
      - name: Log in to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 2. 执行编译
      # 无论在哪个仓库，都要保证代码能 build 成功
      - name: Build All Images
        run: |
          make build-all REGISTRY=ghcr.io/${{ github.repository }}

      # 3. 执行推送
      # 逻辑：
      # - 如果是 Push 到 main (无论主库还是 Fork)，推送。
      # - 如果是 PR，跳过（防止 Fork 权限错误）。
      - name: Push All Images
        if: github.event_name == 'push'
        run: |
          make push-all REGISTRY=ghcr.io/${{ github.repository }}